/node_modules
/public/hot
/public/storage
/public/dokumen
/public/shp
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/alfa
